#container {
    height: 500px;
    width: 80%;
    background-color: rgb(126, 221, 221);
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    /* flex-direction: column-reverse; */
    flex-direction: row-reverse;
    justify-content: flex-start;
}

h1 {
    text-align: center;
}

#container div {
    height: 50px;
    width: 160px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}