<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is a page</h1>
    <!-- <h3> <%= 1+2 %> </h3> -->

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum ratione, consequatur odio quasi soluta itaque laboriosam accusantium omnis id eum aliquid officia ab necessitatibus aspernatur dicta assumenda impedit similique amet. Molestiae, odio blanditiis? Incidunt cumque odio asperiores obcaecati laborum nemo officia quo veritatis dolore ducimus.</p>
    <button>Click me</button>
</body>
</html>